# Node.js
node_modules

/lib
/secrets
.envrc

# Extension
/extension/functions/lib
/extension/firebase-debug.log

# Test projects
/test/*/build
/test/*/.firebaserc
/test/*/.env
/test/*/secrets

# Firebase
firebase-debug.log